* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Baloo Thambi 2', cursive, sans-serif;
  background-color: #3C3B47;
}

button {
  background-color: #FF5733;
  border: none;
  height: 25px;
  color: white;
  border-radius: 5px;
  font-family: 'Baloo Thambi 2', cursive, sans-serif;
}

h1 {
  color: white;
  position: absolute;
  top: -80px;
  left: 0;
}

.addHeading,
.atCourtHeading,
.tripHistoryHeading {
  font-size: 1.5em;
}

hr {
  margin-top: 30px;
  width: 215px;
  margin-left: 0;
  background-color: #581845;
  height: 3px;
  border: 1px solid #581845;
  border-radius: 1px;

}

.main-content {
  position: relative;
  width: 30%;
  margin: 100px auto;
  height: 100%;
}

.content {
  background-image: url('img/pattern.png');
  background-color: white;
  width: 100%;
  height: 100%;
  margin:auto;
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
  align-items: center;
  border: 3px solid #C70039;
  border-radius: 8px;
}

.addPassengerInput {
  border-radius: 5px;
}

.addHeading {
  margin: 2px 0;
}

.historyHeading {
  background: none;
  color: black;
}

.tripHistoryBottom {
  opacity: 1;
  transition: opacity 1000ms linear;
}

.atCourtPeople {
  margin-bottom: 10px;
}

.historyList {
  margin-bottom: 10px;
}

.removeButton,
.addBackButton,
.deleteButton {
  margin: 0 3px;
}

.removeButton,
.deleteButton {
  background-color: #E32646;
}

@media (max-width: 1008px) {
  .main-content {
    width: 35%;
  }
}

@media (max-width: 805px) {
  .main-content {
    width: 50%;
  }
}

@media (max-width: 625px) {
  .main-content {
    width: 70%;
  }
}

@media (max-width: 455px) {
  .main-content {
    width: 95%;
    min-width: ;
  }
}

@media (max-width: 345px) {

  .addPassengerInput {
    width: 120px;
  }

  .addHeading,
  .atCourtHeading,
  .tripHistoryHeading {
    font-size: 1.1em;
  }
}

@media (max-width: 278px) {

  body {
    min-width: 235px;
  }

  hr {
    width: 100%;
  }
  .atCourt,
  .tripHistory {
    width: 97%;
    margin: 0 auto;
  }
}
